*{
    box-sizing: border-box;
}
    
    
    body{
    background-color: aqua;
}


h1{
color: cadetblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box{
width: 100px;
height: 100px;
color: #fff;
text-align: center;
line-height: 6;
border: 2px solid black;
background-color: tomato;

}
.boxes{
display: flex;



}